:root {
  /* Default Colors */
  --sc-header:     #333a60;
  --sc-header2:     #00a6ff;
  
  --sc-btn:         #006ebc;
  --sc-btn-hover:   #005490;

  /*Dark Mode Colors - Custom*/
  --dark-bg:        #141414;
  --dark-bg-grid:   #2b2b2b;
  --dark-input:     #2c2c2c;
  --dark-text:      #e0e0e0;
  
  
  --seg-bg:         #f8f9fa;
  --seg-text:       #212529;
  --seg-border:     #dee2e6;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.select-filter {
  max-width: 250px;
}
.select-colorido {
  transition:
    background-color 0.3s,
    color 0.3s;
  font-weight: 600;
}
.select-colorido option {
  background-color: #fff;
  color: #333;
}

/**************************** DARK MODE *********************/
body.dark-mode .select-colorido option {
  background-color: var(--dark-bg-grid);
  color: var(--dark-text);
}

body.dark-mode {
  background-color: var(--dark-bg) !important;
  color: var(--dark-text) !important;
}

body.dark-mode .card,
body.dark-mode .modal-content {
  background-color: var(--dark-bg-grid) !important;
  color: var(--dark-text) !important;
  border: 1px solid #333;
}

body.dark-mode .table {
  color: var(--dark-text) !important;
  background-color: transparent !important;
}

body.dark-mode .table th,
body.dark-mode .table td {
  background-color: var(--dark-bg-grid) !important; /* Força o fundo da célula */
  color: var(--dark-text) !important;
  border-color: #444 !important;
}

body.dark-mode .table thead th {
  background-color: #2c2c2c !important;
  color: #0dcaf0 !important;
}

body.dark-mode .form-control,
body.dark-mode .select-tpEmp,
body.dark-mode .select-status,
body.dark-mode .input-group-text {
  background-color: var(--dark-input) !important;
  border-color: #555 !important;
  color: #fff !important;
}
body.dark-mode ::-webkit-scrollbar {
  width: 8px;
}
body.dark-mode ::-webkit-scrollbar-track {
  background: #1e1e1e;
}
body.dark-mode ::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}
body.dark-mode select#tipo-busca,
body.dark-mode input#busca-empresa {
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
}
body.dark-mode .endereco-container {
  background-color: var(--dark-input) !important;
  border-color: #444 !important;
  color: var(--dark-text) !important;
}

body.dark-mode .endereco-container .form-label {
  color: var(--dark-text) !important;
}

body.dark-mode .form-select#segmento {
  background-color: var(--seg-bg);
  color: var(--seg-text);
  border-color: var(--seg-border);
}

#segmento {
  transition: all 0.3s ease;
}

/* --- COMPONENTES GERAIS --- */
.navbar {
  background-color: var(--sc-header) !important;
  border-bottom: 4px solid var(--sc-header2);
}

.table-zebra tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.02);
}

.btn-action {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 6px;
  transition: transform 0.1s;
}

.btn-action:hover {
  transform: scale(1.1);
}
body.dark-mode .text-muted {
  color: #bbb !important;
}
body.dark-mode .form-control,
body.dark-mode .form-select {
  color: #fff !important;
}

body.dark-mode .table td code,
body.dark-mode .table td {
  color: var(--dark-text) !important;
}

body.dark-mode input::placeholder,
textarea::placeholder {
  color: #888 !important;
}

/***************************************/

.navbar {
  background-color: var(--sc-header) !important;
  border-bottom: 4px solid var(--sc-header2);
}

.card {
  border: none;
  border-radius: 8px;
}

.card-header {
  font-weight: bold;
  color: var(--sc-header);
  border-bottom: 2px solid #f0f0f0;
}

.table thead {
  background-color: #f8f9fa;
  color: var(--sc-header);
}

.table-hover tbody tr:hover {
  background-color: #f1f7ff;
  transition: 0.3s;
}

.btn-success {
  background-color: var(--sc-btn);
  border: none;
}
.btn-success:hover {
  background-color: var(--sc-btn-hover);
}
